window {
margin: 1px;
background-color: black;
height: 600px;
}

#input {
margin: 5px;
border: 2px solid grey;
background-color: black;
}

#inner-box {
margin: 5px;
background-color: black;
}

#outer-box {
margin: 5px;
background-color: black;
}

#scroll {
}

#text {
margin: 5px;
color: white;
background-color: black;
}
#entry:selected {
background-color: black;
}

